/* Basic styles for your site */

body {
    background-color: #D67A22;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    text-decoration: underline;
    margin-top: 30px;
    text-shadow: 0 0 8px red;
}

p {
    font-size: 18px;
}

img {
    max-width: 80%;
    height: auto;
    margin: 20px 0;
}
.navbar {
    text-shadow: 0 0 5px red;
    background-color: black;
    padding: 15px 0;
    border-bottom: 3px solid red;
}

.navbar a {
    color: yellow;
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.navbar a:hover {
    color: red;
}
